body {
    margin: 0px;
    background-color: black;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
}

.page-block {
    display: block;
}

#header {
    padding: 40px 0px 30px 0px;
    text-align: center;
    background-color: black;
    color: white;
}

#header .title {
    font-size: 40px;
    padding-bottom: 10px;
}

#header .subtitle {
    font-size: 16px;
}

#content {
    display: block;
    width: 100%;
}

#content .background {
    display: block;
    width: 100%;
}

#content .logo {
    position: absolute;
    top: 175px;
    right: 30px;
    width: 120px;
}

#content .photos {
    text-align: center;
    /* margin-top: 50px; */
    margin-bottom: 10px;
}

#content .photos img {
    width: 30%;
    min-width: 200px;
    border-radius: 4%;
    margin: 1%;
}

.footer {
    display: block;
    width: 75%;
    margin: auto;
    color: #ccc;
    font-size: 14px;
    text-align: left;
    margin-bottom: 50px;
}

.copyright {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 80px;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}