body {
    margin: 0px;
    background-color: black;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
}

.page-block {
    display: block;
}

#header {
    padding: 20px 0px 20px 0px;
    text-align: center;
    background-color: black;
    color: white;
}

#header .logo {
    margin-bottom: 16px;
    width: 40%;
    min-width: 180px;
    max-width: 360px;
}

#header .title {
    font-size: 32px;
    padding-bottom: 10px;
    letter-spacing: 30px;
    margin-left: 30px;
}

#header .subtitle {
    font-size: 14px;
    letter-spacing: 10px;
    margin-left: 10px;
}

.navbar {
    color: #333;
}

.navbar a {
    display: inline-block;
    padding: 14px 20px 8px 20px;
    font-size: 16px;
    color: #fdf6e5;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
}

.navbar a:hover, .navbar .selected {
    text-decoration: none;
    background-color: #666;
    border-radius: 22px;
}

#content {
    display: block;
    width: 100%;
}

.center-block {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
}

.cube {
    display: inline-block;
    border-radius: 4%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 2%;
    aspect-ratio: 1 / 1;
    color: white;
    width: 29%;
}

.product {
    display: inline-block;
    border-radius: 4%;
    margin: 1%;
    aspect-ratio: 1 / 1;
    color: white;
    background-color: #222;
    width: 45%
}

.product-details {
    display: block;
    text-align: left;
    color: white;
    padding: 8px 8px 8px 16px;
}

.product img {
    display: inline-block;
    border-radius: 4%;
    aspect-ratio: 1 / 1;
    width: 100%;
    background-color: #333;
}

.product-title {
    font-size: 1.3em;
}

.product-description {
    font-size: 0.8em;
    color: #ccc;
}

.product-price {
    font-size: 0.9em;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #f90;
}

.product-badge {
    display: inline-block;
    background-color: #f90;
    padding: 5px 5px 1px 5px;
    border-radius: 4px;
    color: #000;
}

.product-text {
    float: left;
}

.product-buy {
    float: right;
    margin-bottom: 8px;
}

.product-buy-button {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 22px;
    padding: 12px 17px 7px 17px;
    color: #fdf6e5;
    margin: 5px;
}

.product-buy-button:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.centered {
    display: block;
    text-align: center;
}

.cube-block {
    color: white;
    margin: 1.5%;
}

.text-block-content {
    display: block;
    text-align: left;
    margin: 40px;
}

#content .hero {
    display: block;
    width: 100%;
}

.product-button-container {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.product-button {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 22px;
    padding: 15px 20px 10px 20px;
    color: white;
    margin: 5px;
}

.product-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.footer {
    display: block;
    width: 74%;
    margin: auto;
    color: #ccc;
    font-size: 0.9em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.copyright {
    display: block;
    font-size: 0.8em;
    text-align: center;
    margin-top: 50px;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.gray {
    color: gray;
}